.enter {
  opacity: 0;
}
.enterActive {
  transition: opacity 300ms;
  opacity: 1;
}
.enterDone {
  opacity: 1;
}

.exit {
  opacity: 1;
}
.exitActive {
  opacity: 0;
  transition: opacity 300ms;
}
.exitDone {
  opacity: 0;
}
