@use "assets/styles/mixins" as mixin;

.loadingGame {
  background-color: var(--dark-grey);
  border-radius: var(--border-radius);
  max-width: 450px;
  @include mixin.xs {
    max-width: 300px;
    flex: none;
    overflow-y: hidden;
  }
  .heartContainer {
    max-width: 250px;
    max-height: 250px;
    @include mixin.xs {
      max-width: 150px;
      max-height: 150px;
    }
    img {
      max-width: 250px;
      max-height: 250px;
      animation-name: logo;
      animation-iteration-count: infinite;
      animation-duration: 5s;
      @include mixin.xs {
        max-width: 150px;
        max-height: 150px;
      }
    }
  }
}

@keyframes logo {
  0% {
    transform: rotate(0);
  }
  40% {
    transform: rotate(0);
  }
  42% {
    transform: rotate(6deg);
  }
  44% {
    transform: rotate(-6deg);
  }
  46% {
    transform: rotate(4deg);
  }
  48% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(2deg);
  }
  52% {
    transform: rotate(-2deg);
  }
  54% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0);
  }
}
