@use "assets/styles/mixins" as mixin;

.headerContainer {
  background-color: var(--dark-grey);
  @include mixin.xs {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
  }
  .power {
    color: var(--peps);
    font-size: 2rem;
    cursor: pointer;
  }
}
.logo {
  width: 300px;
  @include mixin.xs {
    width: 150px;
    margin: 10px 0;
  }
}
