@use "assets/styles/mixins" as mixin;

.headerContainer {
  background-color: var(--dark-grey);
  @include mixin.xs {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .power {
    color: var(--peps);
    font-size: 2rem;
    cursor: pointer;
    @include mixin.xs {
      font-size: 1.6rem;
    }
  }
}
.logo {
  width: 300px;
  @include mixin.xs {
    width: 180px;
    margin: 0;
    padding: 3px 0 1px 0;
  }
}
