//animation flags enter & out

.animationFlags-appear {
  opacity: 0;
  transform: translateY(-30px);
}

.animationFlags-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms, transform 200ms;
}

.animationFlags-exit {
  opacity: 1;
  transform: translateY(0);
}

.animationFlags-exit-active {
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 200ms, transform 200ms;
}
