.m-20 {
  margin: 20px;
}
.m-30 {
  margin: 30px;
}

.mx-20 {
  margin: 0 20px;
}
.mx-30 {
  margin: 0 30px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}

.my-10 {
  margin: 10px 0;
}
.my-20 {
  margin: 20px 0;
}
.my-30 {
  margin: 30px 0;
}

.py-10 {
  padding: 10px 0;
}
.py-20 {
  padding: 20px 0;
}
.py-30 {
  padding: 30px 0;
}

.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
