@use "assets/styles/mixins" as mixin;

.homepageContainer {
  .flagAnswersContainer {
    width: 450px;
    height: 450px;
    .flagAnswersContent {
      background-color: white;
      border: 3px solid var(--peps);
      border-radius: var(--border-radius);
      width: 450px;
      height: 450px;
      overflow: hidden;
      @include mixin.xs {
        width: 300px;
      }
    }
  }
}
